* {
    margin: 0;
    padding: 0;
    border-radius: 0 !important;
    font-family: 'Montserrat', sans-serif; 
}


/*--------------------------------------------------------------------------------SETTING BODY--------------------------------------------------------------------------------*/
html, body {
    height: 100%;
}
body {
    font-size:1.3rem;
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-decoration: none;
}
/*--------------------------------------------------------------------------------MAIN HEADER CSS--------------------------------------------------------------------------------*/
a {
    text-decoration: none;
}


#main-header nav {
    font-family: monospace;
    position: relative;
    margin-left:30%;
}
#main-header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#main-header nav li {
    display: inline-block;
    margin-left: 0;
    padding-top: 0;
    position: relative;
}

#main-header nav a {
        display: block;
        color: white;
        background-color: black;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 10pt;
        padding: 32px 30px;
        transition: background-color 200ms, color 200ms;
    }

#main-header nav a:hover {
    color: black;
    background-color: white;
    text-decoration: none;
    transition: background-color 200ms, color 200ms;
}


#main-header nav ul {
    background: black;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

#main-header nav ul li {
    color: #fff;
    background: black;
    display: block;
    float: left;
    padding: 0;
    position: relative;
    text-decoration: none;
}

#main-header nav ul li a {
    color: #fff;
}

#main-header nav ul li:hover {
    background: none;
    cursor: pointer;
}

#main-header ul li ul {
    background: none;
    min-width: 0;
    position: relative;
    margin-top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    display: block;
}


#main-header ul li ul li {
    clear: both;
    width: 100%;
}


.fa-shopping-cart {
    color: white;
}

.fa-search {
    color: white;
}

.fa-toilet {
    color: white;
}
.hamburger {
    visibility: collapse;
}
/*--------------------------------------------------------------------------------MOBILE HEADER CSS--------------------------------------------------------------------------------*/
#mobile-dropdown {
    font-family: monospace;
    color: #fff;
    background: #262626;
    width: 100%;
    padding: 0 0 0 0;
}
/*--------------------------------------------------------------------------------CAROUSEL--------------------------------------------------------------------------------*/
#hero-text {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    padding-left: 30%;
    padding-right: 30%;
    font-weight: bold;
    font-size: 3vw;
}#hero-text span {
    color:black;
    background:white;
 }


/* remove rounding from cards, buttons and inputs 
.card, .btn, .form-control{
    border-radius: 0;
}
    */

#main-header {
    background-color: black;
}
/*--------------------------------------------------------------------------------SECONDARY IMAGES--------------------------------------------------------------------------------*/
.wrapper {
    position: relative;
    width: 100%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.content {
    position: absolute;
    top: 45%;
    left: 70%;
    transform: translate(-100%, -50%);
    color: #fff;
    font-size: 60%;
}


/*--------------------------------------------------------------------------------ANDY'S PRODUCTS OVERLAYS--------------------------------------------------------------------------------*/
.product {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease;
    background: rgba(1,1,1, 0.3);
}

.borderPatrol {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: solid 2px;
    border-color:black;
    opacity: 0;
}


.wrapper:hover .borderPatrol{
    opacity: 1;
}
.wrapper:hover .product {
    opacity: 1;
}


.fancy-checkbox input[type="checkbox"],
.fancy-checkbox .checked {
    display: none;
}

    .fancy-checkbox input[type="checkbox"]:checked ~ .checked {
        display: inline-block;
    }

    .fancy-checkbox input[type="checkbox"]:checked ~ .unchecked {
        display: none;
    }









/*--------------------------------------------------------------------------------PRODUCT PAGE CLICKABLES--------------------------------------------------------------------------------*/
.desc {
    padding: 5px;
    text-align: left;
    color: #9b9fa3;
    background-color: #EDF2F6;
    text-decoration: none;
    transition: background-color 100ms, color 300ms;
}
    .desc:hover {
        text-decoration: none;
    }

.under {
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: left;
    color: black;
    background-color: #EDF2F6;
    text-decoration: none;
    transition: background-color 100ms, color 300ms;
}
.rating {
    padding-left: 5px;
    padding-top: 0;
    padding-bottom: 40px;
    text-align: left;
    color: black;
    background-color: #EDF2F6;
    text-decoration: none;
    transition: background-color 100ms, color 300ms;
}

.cart-icon {
    padding: 2%;
    border: 2px solid black;
}
